/*Project 1 CSS sheet*/

@supports (grid-area:auto){
  /*main CSS grid layout*/
  .site{
    display: grid;
    margin: 0;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);/*equal size*/
    grid-template-rows: 40px 110px 130px 50px auto auto auto auto auto auto;
    grid-template-areas:
      'hd hd hd hd hd hd hd hd'
      'menu menu menu menu menu menu menu menu'
      '. dash dash dash dash dash dash .'
      '. ann ann ann ann ann ann .'
      '. side side bar bar bar bar .'
      '. side side social social social social .'
      '. side side contact contact contact contact .'
      '. side side know know know know .'
      '. ad ad ad ad ad ad .'
      'ft ft ft ft ft ft ft ft';
    font-family: 'Proxima Nova', sans-serif;
  }

  /*setting flex*/
  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center
  }

  .header{
    grid-area: hd;
    background: #2190e8;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .header .grow{
    flex-basis: 20%;
    justify-content: space-evenly;
    align-content: center;
  }

  /*making the top header stuff grow on hover*/
  .grow a{
    text-decoration: none;
    color: inherit;
  }

  .grow a:hover{
    transform: scale(1.2, 1.2);
  }

  /*css for the menu icons*/
  .menu{
    grid-area: menu;
    background: #145489;
    background-image: url(../img/color-overlay.png),url(../img/fade-left.png),url(../img/fade-right.png), url(../img/pinstripe.png);
    background-position: center, left, right, center top;
    background-repeat: no-repeat;
    margin: 0;
  }

  .menu a{
    text-decoration: none;
    display: block;
    padding: 1em;
    position: relative;
  }

  /*adding in the drop shadow*/
  .menu a::after{
    content: url(../img/shadow.png);
    position: absolute;
    left: 20%;
    bottom: -2%;
    margin: auto;
  }

  a#triangle::after{
    /*adding in the triangle*/
      bottom: -13%;
    	left: 50%;
    	border: solid transparent;
    	content: '';
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    	border-bottom-color: #fff;
    	border-width: 20px;
    	margin-left: -20px;
  }

  /*main sections of the website*/
  .dash{
    justify-content: space-between;
    align-content: center;
    color: #fff;
    font-size: 1.6em;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #33cc66;
    grid-area: dash;
    border-radius: 5px;
    position: relative;
  }

  .dash input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search.png');
    background-position: top right;
    background-repeat: no-repeat;
  }

  .dash form{
    margin-right: 2%;
  }

  .dash p{
    margin-left: 1%;
  }

  /*creating the search bar*/
  .dash span{
    width: 250px;
    background: #fff;
    border-radius: 2px;
    text-align: right;
    margin-right: 2%;
  }

  .dash .search{
    margin-right: 5%;
  }

  .ann{
    grid-area: ann;
    justify-content: flex-start;
    align-content: center;
    color: #777777;
    font-size: 0.9em;
    box-shadow: 0px 0px 2px #aaa;
  }

  /*Announcements in Orange and upper case*/
  .ann #upper{
    color: #fe7f13;
    text-transform: uppercase;
    text-align: center;
    padding-right: 1%;
    flex-basis: 15%;
    position: relative;
  }

  #upper::after{
    content: '';
    height: 100%;
    width: 0.1px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #aaa;
  }

  #ann-words{
    margin-left: 2%;
  }

  #flipped::before{
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #aaa;
  }

  /*flipping the little nav button to face left*/
  #flipped{
    transform: scaleX(-1);
    margin: 0 2% 0 2%;
    flex-basis: 15%;
    position: relative;
  }


  /*tasks and recommendations go here*/
  .side{
    grid-area: side;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-shadow: 0px 0px 2px #aaa;
    padding-bottom: 80%;
  }

  .side #settings{
    margin-right: 4%;
  }

  .tasks-head, .rec-head, .rec{
    margin-left: 2%;
    margin-right: 2%;
  }

  .tasks{
    border-bottom: solid #aaa 0.10px;
  }

  /*adding a shadow underneath last task*/
  #task-4{
    box-shadow: 0 0 2px #ccc;
  }

  /*dotted line between recommendaitons*/
  .rec{
    border-bottom: dotted 0.10px #aaa;
  }

  /*formatting the headers 'Tasks', Recommendations, Analytics*/
  .side h1, .bar h1{
    font-weight: normal;
    color: #2498f4;
    font-size: 32px;
  }

  /*formatting the numbers*/
  .side .num{
    background: #3cce29;
    color: #fff;
    padding: 2%;
    border-radius: 50%;
    text-align: center;
    margin-left: 1%;
  }

  .tasks p{
    color: #2498f3;
    text-align: left;
    flex-basis: 60%;
  }

  /*setting the hover status*/
  .tasks:hover{
    filter: grayscale(100%);
  }

  /*formatting the recommendations*/
  .rec{
    position: relative;
  }

  .rec:hover{
    filter: grayscale(100%);
  }

  .rec p{
    text-align: left;
    flex-basis: 90%;
    color: #777777;
  }

  .rec p:hover{
    color: #000;
  }

  /*formatting the little counters*/
  .man-counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 25px;
    border: solid 0.10px #aaa;
    border-radius: 2px;
    padding-left: 2%;
    margin-right: 1%;
  }

  /*formatting the space between items*/
  .num, .rec span, .rec img{
    flex-basis: 18px;
  }

  /*formatting the bar graph area*/
  .bar{
    grid-area: bar;
    flex-direction: column;
    margin-left: 2%;
    border-right: 0.10px #ccc solid;
    color: #666666;
  }

  .activity-date-graph{
    margin-top: 5%;
    width: 150%;
    box-shadow: 4px 0px 3px -2px #aaa;
    flex-basis: 67%;
    margin-right: 4%;
  }


  .pie{
    flex-basis: 28%;
  }

  /*adding in the CSS to create custom dropdown*/
  .dropbtn {
    color: #666666;
    font-family: 'Proxima Nova', sans-serif;
    background-color: #fff;
    border-radius: 3px;
    width: 120%;
    padding: 10% 2% 10% 2%;
    font-size: 0.9em;
    border: 0.10px solid #aaa;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    color: #666666;
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.3);
    z-index: 1;
    width: 120%;
  }

  .dropdown-content a {
      color: inherit;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      background-color: #fff;
      font-size: inherit;
      border-bottom: solid #ddd 0.03px;
  }

  .dropdown-content a:hover{
    color: #fe7f13;
  }

  .dropdown:hover .dropdown-content{
    display: block;
  }

  /*styling the bar graph*/
  #bar-graph-img{
    margin-top: 10%;
    width: 100%;
    height: auto;
  }

  /*adding social media radials underneath bars*/
  .social{
    grid-area: social;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-right: solid 0.10px #aaa;
    font-size: 0.8em;
  }

  .checkbox{
    margin-right: 3%;
  }

  /*hding the default checkbox*/
  .checkbox input[type="checkbox"]{
    opacity: 0;
  }

  /*creating the custom checkboxes*/
  .checkbox label{
    position: relative;
  }

  .checkbox label::before, .checkbox label::after{
    position: absolute;
    content: "";
    display: inline-block;
  }

  /*outer box*/
  .checkbox label::before{
    height: 15px;
    width: 15px;
    background: #dcdcdc;
    border: 3px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #aaa;
    top: -2px;
    left: -30px;
  }

  /*checkmark*/
  .checkbox label::after{
    z-index: 2;
    height: 25px;
    width: 25px;
    background-image: url(../img/check_orange.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    left: -28px;
    top: -9px;
  }

  /*hiding the checkmark*/
  .checkbox input[type="checkbox"] + label::after{
    content: none;
  }

  .checkbox input[type="checkbox"]:checked + label::after{
    content: "";
  }

  .checkbox input[type="checkbox"]:checked + label::before{
    background: #fff;
  }


  /*styling the social media words*/
  #fb, #twitter, #foursquare, #gplus{
    border-radius: 5px;
    width: auto;
    height: 16px;
    font-size: 1em;
    color: #fff;
    text-align: center;
    padding-right: 2px;
  }

  #fb{
    background: #114570;
  }

  #twitter{
    background: #2298f4;
  }

  #foursquare{
    background: #3a599b;
  }

  #gplus{
    background: #31cc66;
  }


  /*styling for the contact cards*/
  .contact{
    grid-area: contact;
    text-transform: uppercase;
    justify-content: space-around;
    color: #fff;
    box-shadow: 1px 0px 2px #aaa;
    text-align: center;
  }

  .contact p{
    background: #2394ee;
    margin-top: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
  }

  #contact-orange, #contact-green{
    box-shadow: 1px 1px 3px #aaa;
    border-radius: 5px;
    position: relative;
  }

  #contact-orange img, #contact-green img{
    padding: 0px 10px 10px 10px;
  }

  #content-orange span, #content-green span{
    z-index: 2;
  }

  /*making the contacts gray*/
  .contact-container:hover{
    filter: grayscale(100%);
  }

  /*adding in the little blue things on the side*/
  .contact-words::before{
    content: url(../img/blue_ribbon_left.png);
    position: absolute;
    left: -7%;
    top: 36%;
    z-index: 3;
  }

  .contact-words::after{
    content: url(../img/blue_ribbon_right.png);
    position: absolute;
    right: -7%;
    top: 36%;
    z-index: 3;
  }

  /*styling for the know cards*/
  .know{
    grid-area: know;
    box-shadow: 0px 0px 2px #aaa;
    font-size: 0.9em;
  }

  .know .cards{
    background: #2498f4;
    width: 85%;
    height: 85%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
  }

  .cards p{
    color: #fff;
    margin-left: 1%;
  }


  /*creating the semi-circles*/
  .cards span{
    background: #fff;
    padding: 1%;
    height: 50px;
    width: 25px;
  }

  #right{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
  }

  #left{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
  }


  /*styling for the bottom three ads*/
  .ad{
      grid-area: ad;
      justify-content: space-around;
      background: #2498f4;
      padding: 2%;
      margin-bottom: 5%;
      box-shadow: 0px 0px 2px #aaa;
  }

  /*adding in ad images*/
  #ad1, #ad2, #ad3{
    border-radius: 5px;
    background-color: #fff;
    background-repeat: no-repeat;
    width: 278px;
    height: 152px;
    box-shadow: 0px 0px 2px #222;
    position: relative;
  }

  #ad1{
    background-image: url(../img/ad_1.png);
    color: #666666;
    text-align: right;
    justify-content: flex-end;
  }

  #ad1 p{
    margin-right: 2%;
    width: 40%;
  }

  #green-text{
    color: #33cc66;
    font-size: 20px;
  }

  #ad2{
    text-align: center;
    color: #fff;
  }

  #ad2 img{
    position: absolute;
    top: -8%;
    width: 258px;
    height: auto;
    z-index: 2;
  }

  #ad2 p{
    z-index: 3;
    border-radius: 4px;
    background: #33cc66;
    padding: 3%;
    font-size: 1em;
  }

  #ad3{
    background-image: url(../img/ad_3.png);
    background-position: right top;
    text-align: left;
    color: #fe7f13;
    font-size: 20px;
    justify-content: flex-start;
  }

  #ad3 p{
    width: 40%;
    margin-left: 2%;
  }

  /*bottom of the website*/
  .footer{
    grid-area: ft;
    background: #f5f5f5;
    justify-content: space-around;
    color: #2498f2;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    /*adding in drop shadow*/
    box-shadow: 0px -5px 10px #ddd;
  }

  /*non blue text in the footer*/
  .footer span{
    color: #777;
    font-weight: normal;
  }

  .footer a{
    text-decoration: none;
    color: inherit;
  }

  .footer a:hover{
    text-decoration: underline;
  }

  /*avatar & logout styling*/
  .footer .avatar{
    border-radius: 5px;
    border: solid #fff 5px;
    position: relative;
  }

  .footer .sprite{
    margin-left: 8px;
    margin-right: 8px;
  }

  /*media queries to be mobile-friendly*/
  @media screen and (max-width:800px){
    .site{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(12, auto);
      grid-template-areas:
        'hd hd hd hd'
        'menu menu menu menu'
        'dash dash dash dash'
        'ann ann ann ann'
        'side side side side'
        'bar bar bar bar'
        'social social social social'
        'contact contact contact contact'
        'know know know know'
        'ad ad ad ad'
        'ft ft ft ft';
    }

    .menu a{
      width: 7%;
    }

    .side{
      padding-bottom: 0;
      border: none;
    }

    .pie{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 5% 0 5% 0;
      border: none;
    }

    .social{
      justify-content: center;
      margin-bottom: 5%;
      border: none;
    }

    .contact{
      padding: 5% 0 2% 0;
      border: none;
    }
    /*adding spacing between the containers in mobile*/
    .contact-container{
      margin-bottom: 5%;
    }

    .know{
      border-top: solid #aaa 0.1px;
    }

    .ad{
      padding: 5% 0 2% 0;
    }

    #ad1, #ad2, #ad3{
      margin-bottom: 5%;
    }

    .footer{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 3%;
    }

  /*end of the CSS*/
  }
